<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/formCreateHD.css">
</head>
<body>
    <div class="container">
        <h3>Thông tin hoá đơn</h3>
        <form action="/admin/QlyHD/taoHD" id="reg-form" method="post">
            <div class="form-group row p-3">
                <label for="input1" class="col-sm-2 col-form-label">Tên khách hàng</label>
                <div class="col-sm-10">
                    <input hidden type="text" class="form-control" id="input0" name="Makh" placeholder="Mã khách hàng" value="{{data.Makh}}">
                    <input type="text" class="form-control" id="input1" name="tenKhachHang" placeholder="Tên khách hàng" value="{{data2.Tenkh}}">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input2" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input2" name="ngaySinh" placeholder="Ngày sinh" value="{{data2.Ngaysinh}}">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input3" class="col-sm-2 col-form-label">Ngày lập</label>
                <div class="col-sm-10">
                    <input aria-current="date" type="date" class="form-control" id="input3" name="NgayLap" placeholder="Date">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input4" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input4" name="diaChi" placeholder="Địa chỉ" value="{{data2.Diachi}}">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input5" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="input5" name="soDienThoai" placeholder="Số điện thoại" value="{{data2.Sodienthoai}}">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input6" class="col-sm-2 col-form-label">CCCD</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input6" name="cccd" placeholder="CCCD" value="{{data2.CMND}}">
                </div>
            </div>
            <div class="form-group row p-3">
                <label for="input7" class="col-sm-2 col-form-label">Mã PP</label>
                <div class="col-sm-10">
                    <select name="MaPP" id="paymentMethod" onchange="updateHiddenInput()">
                        <option value="1">ATM</option>
                        <option value="2">Tiền mặt</option>
                    </select>
                    <input hidden type="text" class="form-control" id="hiddenPaymentMethod" name="hiddenPaymentMethod" placeholder="MPP">
                </div>
            </div>

             <input type="hidden" id="servicesInput" name="services">

            <div class="form-group row p-3" id="selected-services">
                <label for="input8" class="col-sm-2 col-form-label">Dịch vụ đã dùng</label>
                {{#each data.ChiTietYeuCau}}
                    <div class="service-item row">
                        <p class=" maDV col-7">{{MaDV}}</p>
                        <p class="soLuong col-3">{{SoLuong}}</p>
                    </div>
                {{/each}}
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/form.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dateInput = document.getElementById('input3');
            const today = new Date();
            const formattedDate = today.toISOString().split('T')[0];
            dateInput.value = formattedDate;
        });

        function updateHiddenInput() {
            var selectElement = document.getElementById('paymentMethod');
            var hiddenInput = document.getElementById('hiddenPaymentMethod');
            hiddenInput.value = selectElement.value;
        }

        function prepareServices() {
            const serviceItems = document.querySelectorAll('.service-item');
            const servicesArray = [];

            serviceItems.forEach(function(item) {
                const maDV = item.querySelector('.maDV').textContent;
                const soLuong = item.querySelector('.soLuong').textContent;
                servicesArray.push({ "MADV": maDV, "SoLuong": soLuong });
            });
            console.log(servicesArray)
            const servicesInput = document.getElementById('servicesInput');
            servicesInput.value = JSON.stringify(servicesArray);
        }
        updateHiddenInput();
        prepareServices();
    </script>
</body>
</html>
