
<body>
    <div class="container ">
        <div class="service-detail">
            <form name="frmsanphamchitiet" id="frmsanphamchitiet" action="/product/{{product._id}}/?_method=PUT" method="POST">
                <input type="hidden" name="sp_ma" id="sp_ma" value="5">
                <input type="hidden" name="sp_ten" id="sp_ten" value="{{product.name}}">
                <input type="hidden" name="sp_gia" id="sp_gia" value="{{product.price}}">
                <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="{{product.img}}">
            </form>
            <section class="panel">
                    <div class="row ">
                        <div class="service-img col-lg-6">
                            <div class="service-img-details">
                                <img src="" alt="">
                            </div>
                            <div class="service-img-list">
                                <a href="#">
                                    <img src="/images/slider/service2.webp" alt="">
                                </a>
                                <a href="#">
                                    <img src="/images/slider/service3.webp" alt="">
                                </a>
                            
                            </div>
                        </div>
                        <div class="service-dsc col-lg-6">
                            <div class="row row1">
                                <h2 class="header-desc" id="service-title"></h2>
                                <i class="header-desc"  id="service-desc">Mô tả sản phẩm: </i>
                            </div>
                            <div  class="row row2 price m-bot15"  id="service-price"> 
                                <strong >Price: </strong> 
                            </div>

                        </div>
                    </div>
            </section>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Nhà cung cấp</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data2}}
                        <tr>
                            <th scope="row">{{this.MaSP}}</th>
                            <td>{{this.Tensp}}</td>
                            <td>{{this.Tennhacc}}</td>
                            <td>{{this.SoLuong}}</td>
                            <td>{{this.Gia}}</td>
                        </tr>
                    {{/each }}
                </tbody>
            </table>
            
        </div>
     </div>
        
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const serviceDetail = JSON.parse(localStorage.getItem("serviceData"));
            document.querySelector("img").setAttribute("src",serviceDetail.Img);
            document.getElementById('service-title').textContent=serviceDetail.Name;
            document.getElementById('service-desc').textContent=serviceDetail.Desc;
            document.querySelector('strong').textContent="Price: "+serviceDetail.Price;
  
        })
    </script>
    
</body>







